%h1 Time Records
%table
  %thead
    %tr
      %th Comment
      %th Time type
      %th Started time
      %th Finished time
      %th User
  %tbody
    - @time_records.each do |time_record|
      %tr
        %td= time_record.comment
        %td= time_record.time_type
        %td= time_record.started_time.strftime("%H:%M:%S | %d/%m/%Y")
        %td= time_record.finished_time.strftime("%H:%M:%S | %d/%m/%Y")
        - get_user_first_name_of_time_record(time_record).each do |user|
          %td= user.first_name
%br/
= link_to 'New Time Record', new_time_record_path