%p#notice= notice
%h1 Time Records
%table
  %thead
    %tr
      %th Comment
      %th Time type
      %th Started time
      %th Finished time
      %th{:colspan => "3"}
  %tbody
    - @time_records.each do |time_record|
      %tr
        %td= time_record.comment
        %td= time_record.time_type
        %td= time_record.started_time.strftime("%H:%M:%S | %d/%m/%Y")
        %td= time_record.finished_time.strftime("%H:%M:%S | %d/%m/%Y")
        %td= link_to 'Show', time_record
        %td= link_to 'Edit', edit_time_record_path(time_record)
        %td= link_to 'Destroy', time_record, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Time Record', new_time_record_path