<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @time_record.comment %>
</p>

<p>
  <strong>Time type:</strong>
  <%= @time_record.time_type %>
</p>

<p>
  <strong>Started time:</strong>
  <%= @time_record.started_time %>
</p>

<p>
  <strong>Finished time:</strong>
  <%= @time_record.finished_time %>
</p>

<%= link_to 'Edit', edit_time_record_path(@time_record) %> |
<%= link_to 'Back', time_records_path %>
