= form_with(model: time_record, local: true) do |form|
  .timer
    .grid-x.align-center.text-area
      .field.large-3
        = form.label :comment
        = form.text_field :comment, :placeholder=>"Enter Your Comment"
      .field.large-3
        = form.label :time_type
        = form.collection_select :time_type, get_all_categories, :id, :name
        = form.hidden_field :started_time, id: "started_time"
        = form.hidden_field :finished_time, id: "finished_time"
    .grid-x.align-center.time-table-area
      %table.large-5
        %thead
          %tr
            %th{:colspan=>"2"} Hour
            %th{:colspan=>"2"} Minute
            %th{:colspan=>"2"} Second
        %tbody
          %tr
            %td
              %input{:type=>:number, :id=>"hour"}
            %td :
            %td
              %input{:type=>:number, :id=>"minute"}
            %td :
            %td
              %input{:type=>:number, :id=>"second"}
            %td
              %input{:type=>:button, :id=>"start", :value=>"Start", :class=>"button"}
              %input{:type=>:button, :id=>"stop", :value=>"Stop", :class=>"button hide", :type=>"submit"}